In [1]:
import os
import glob
import pickle
import numpy as np
import matplotlib.pylab as plt
import scipy.io
import pandas as pd

In [2]:
pwd

'/mtad-gat/datasets'

In [3]:
cd MACHINE

/mtad-gat/datasets/MACHINE

/opt/conda/lib/python3.10/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

---

In [4]:
train_p = '11_lcahu_feature_train.csv'
test_p = '11_lcahu_feature_test.csv'

In [8]:
train = pd.read_csv(train_p, delimiter=',')

In [9]:
train.head()

,AbsMax,AbsMean,P2P,RMS,Skewness,Kurtosis,Crest,Shape,Impulse,1x,2x,3x,4x,1xB,2xB,3xB,4xB
0,0.032784,0.008439,0.065385,0.010346,-0.032494,2.594446,6.319829,1.225912,3.884659,0.001223,0.004917,0.000170,0.000612,0.000528,0.000905,0.000097,0.000100
1,0.035506,0.008467,0.067576,0.010383,-0.052837,2.592175,6.508577,1.226262,4.193499,0.001120,0.004782,0.000160,0.000585,0.000456,0.001041,0.000429,0.000183
2,0.033555,0.008448,0.066331,0.010378,-0.031248,2.607045,6.391726,1.228454,3.972077,0.001135,0.005024,0.000131,0.000635,0.000533,0.000645,0.000480,0.000217
3,0.034627,0.008411,0.067867,0.010380,-0.025178,2.695010,6.538254,1.234043,4.116675,0.001156,0.005164,0.000135,0.000742,0.000239,0.000771,0.000086,0.000064
4,0.037129,0.008490,0.073338,0.010449,-0.078214,2.670323,7.018543,1.230717,4.373021,0.001296,0.005276,0.000182,0.000711,0.000303,0.000326,0.000549,0.000145

In [10]:
test = pd.read_csv(test_p, delimiter=',')

In [11]:
test.head()

,AbsMax,AbsMean,P2P,RMS,Skewness,Kurtosis,Crest,Shape,Impulse,1x,2x,3x,4x,1xB,2xB,3xB,4xB,attack
0,0.034962,0.008369,0.067668,0.010293,-0.061745,2.624110,6.573841,1.229892,4.177376,0.001261,0.004490,0.000145,0.000799,0.000791,0.001024,0.000061,0.000067,0
1,0.036167,0.008339,0.068778,0.010345,-0.020651,2.747986,6.648573,1.240590,4.337322,0.001191,0.004425,0.000130,0.000786,0.000902,0.001267,0.000122,0.000106,0
2,0.034177,0.008414,0.068018,0.010348,-0.022162,2.633901,6.573161,1.229799,4.061787,0.001307,0.004778,0.000138,0.000765,0.000397,0.000984,0.000078,0.000069,0
3,0.034092,0.008417,0.065647,0.010334,-0.076633,2.625344,6.352463,1.227779,4.050377,0.001307,0.004606,0.000205,0.000702,0.000270,0.000395,0.000237,0.000085,0
4,0.032965,0.008391,0.065716,0.010301,-0.023880,2.627961,6.379546,1.227627,3.928618,0.001327,0.004572,0.000119,0.000630,0.000386,0.000267,0.000433,0.000195,0

In [13]:
# labels = [True if label == 'Attack' else False for label in test['attack']]
labels = test['attack']

In [14]:
labels

0       0
1       0
2       0
3       0
4       0
       ..
6182    1
6183    1
6184    1
6185    1
6186    1
Name: attack, Length: 6187, dtype: int64

In [15]:
test = test.drop('attack', axis=1)

In [16]:
test.head()

,AbsMax,AbsMean,P2P,RMS,Skewness,Kurtosis,Crest,Shape,Impulse,1x,2x,3x,4x,1xB,2xB,3xB,4xB
0,0.034962,0.008369,0.067668,0.010293,-0.061745,2.624110,6.573841,1.229892,4.177376,0.001261,0.004490,0.000145,0.000799,0.000791,0.001024,0.000061,0.000067
1,0.036167,0.008339,0.068778,0.010345,-0.020651,2.747986,6.648573,1.240590,4.337322,0.001191,0.004425,0.000130,0.000786,0.000902,0.001267,0.000122,0.000106
2,0.034177,0.008414,0.068018,0.010348,-0.022162,2.633901,6.573161,1.229799,4.061787,0.001307,0.004778,0.000138,0.000765,0.000397,0.000984,0.000078,0.000069
3,0.034092,0.008417,0.065647,0.010334,-0.076633,2.625344,6.352463,1.227779,4.050377,0.001307,0.004606,0.000205,0.000702,0.000270,0.000395,0.000237,0.000085
4,0.032965,0.008391,0.065716,0.010301,-0.023880,2.627961,6.379546,1.227627,3.928618,0.001327,0.004572,0.000119,0.000630,0.000386,0.000267,0.000433,0.000195

In [17]:
train_opath = 'data/train.pkl'
train.to_pickle(train_opath)

In [18]:
test_opath = 'data/test.pkl'
test.to_pickle(test_opath)

In [19]:
labels_opath = 'data/test_labels.pkl'

with open(labels_opath, 'wb') as f:
    pickle.dump(labels, f)

---

In [23]:
train = train.reset_index(drop=True)

In [24]:
train.head()

,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,MV201,...,FIT504,P501,P502,PIT501,PIT502,PIT503,FIT601,P601,P602,P603
0,2.470294,261.5804,2,2,1,244.3284,8.19008,306.101,2.471278,2,...,0.0,1,1,10.02948,0.0,4.277749,0.000256,1,1,1
1,2.457163,261.1879,2,2,1,244.3284,8.19008,306.101,2.468587,2,...,0.0,1,1,10.02948,0.0,4.277749,0.000256,1,1,1
2,2.439548,260.9131,2,2,1,244.3284,8.19008,306.101,2.467305,2,...,0.0,1,1,10.02948,0.0,4.277749,0.000256,1,1,1
3,2.428338,260.2850,2,2,1,244.3284,8.19008,306.101,2.466536,2,...,0.0,1,1,10.02948,0.0,4.277749,0.000256,1,1,1
4,2.424815,259.8925,2,2,1,244.4245,8.19008,306.101,2.466536,2,...,0.0,1,1,10.02948,0.0,4.277749,0.000256,1,1,1

In [25]:
test = test.reset_index(drop=True)

In [26]:
test.head()

,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,MV201,...,FIT504,P501,P502,PIT501,PIT502,PIT503,FIT601,P601,P602,P603
0,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,2,...,0.307786,2,1,250.8652,1.649953,189.5988,0.000128,1,1,1
1,2.446274,522.8860,2,2,1,262.0161,8.396437,328.6337,2.445391,2,...,0.307786,2,1,250.8652,1.649953,189.6789,0.000128,1,1,1
2,2.489191,522.8467,2,2,1,262.0161,8.394514,328.6337,2.442316,2,...,0.308619,2,1,250.8812,1.649953,189.6789,0.000128,1,1,1
3,2.534350,522.9645,2,2,1,262.0161,8.394514,328.6337,2.442316,2,...,0.308619,2,1,250.8812,1.649953,189.6148,0.000128,1,1,1
4,2.569260,523.4748,2,2,1,262.0161,8.394514,328.6337,2.443085,2,...,0.308619,2,1,250.8812,1.649953,189.5027,0.000128,1,1,1

In [27]:
train_opath = 'data/train.pkl'
train.to_pickle(train_opath)

In [28]:
test_opath = 'data/test.pkl'
test.to_pickle(test_opath)

In [30]:
labels_opath = 'data/test_labels.pkl'

with open(labels_opath, 'wb') as f:
    pickle.dump(labels, f)

In [33]:
with open(train_opath, 'rb') as f:
    trains = pickle.load(f)

In [37]:
f = open(os.path.join(train_opath), "rb")

In [39]:
f.shape

AttributeError: '_io.BufferedReader' object has no attribute 'shape'

In [34]:
trains

,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,MV201,...,FIT504,P501,P502,PIT501,PIT502,PIT503,FIT601,P601,P602,P603
0,2.470294,261.5804,2,2,1,244.3284,8.190080,306.1010,2.471278,2,...,0.000000,1,1,10.02948,0.000000,4.277749,0.000256,1,1,1
1,2.457163,261.1879,2,2,1,244.3284,8.190080,306.1010,2.468587,2,...,0.000000,1,1,10.02948,0.000000,4.277749,0.000256,1,1,1
2,2.439548,260.9131,2,2,1,244.3284,8.190080,306.1010,2.467305,2,...,0.000000,1,1,10.02948,0.000000,4.277749,0.000256,1,1,1
3,2.428338,260.2850,2,2,1,244.3284,8.190080,306.1010,2.466536,2,...,0.000000,1,1,10.02948,0.000000,4.277749,0.000256,1,1,1
4,2.424815,259.8925,2,2,1,244.4245,8.190080,306.1010,2.466536,2,...,0.000000,1,1,10.02948,0.000000,4.277749,0.000256,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496795,2.460366,523.0430,2,2,1,262.0161,8.396437,328.5055,2.442316,2,...,0.308619,2,1,250.81710,1.778105,189.855200,0.000128,1,1,1
496796,2.448836,522.9645,2,2,1,262.0161,8.396437,328.5055,2.442316,2,...,0.308619,2,1,250.81710,1.778105,189.502700,0.000128,1,1,1
496797,2.434744,522.8860,2,2,1,262.0161,8.396437,328.6337,2.444879,2,...,0.308619,2,1,250.81710,1.778105,189.502700,0.000128,1,1,1
496798,2.428338,522.9252,2,2,1,262.0161,8.396437,328.6337,2.445391,2,...,0.308619,2,1,250.81710,1.649953,189.502700,0.000128,1,1,1
496799,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,2,...,0.307786,2,1,250.86520,1.649953,189.598800,0.000128,1,1,1

In [36]:
trains.shape[1]

51

In [32]:
labels_opath = 'data/test_labels.pkl'

with open(labels_opath, 'rb') as f:
    labels = pickle.load(f)

labels[:5]

[False, False, False, False, False]

---

<b> Save

CSV file

In [47]:
output_path = 'train/train.csv'
df.to_csv(output_path, index=False)

PKL file

In [42]:
output_path = 'train/train.pkl'
df.to_pickle(output_path)

MAT file

In [43]:
output_path = 'train/train.mat'
scipy.io.savemat(output_path, {
        'p1_xz_ho': p1_xz['yDataCurrentAxes1_tim'].flatten(),
        'p1_xz_ve': p1_xz['yDataCurrentAxes2_tim'].flatten(),
        'p1_yz_ho': p1_yz['yDataCurrentAxes1_tim'].flatten(),
        'p1_yz_ve': p1_yz['yDataCurrentAxes2_tim'].flatten(),
        'p2_xz_ho': p2_xz['yDataCurrentAxes1_tim'].flatten(),
        'p2_xz_ve': p2_xz['yDataCurrentAxes2_tim'].flatten(),
        'p2_yz_ho': p2_yz['yDataCurrentAxes1_tim'].flatten(),
        'p2_yz_ve': p2_yz['yDataCurrentAxes2_tim'].flatten()
    })

---

<b>TEST

CSV file

In [25]:
output_path = 'train/train.csv'

test_csv = pd.read_csv(output_path)
test_csv

,p1_xz_ho,p1_xz_ve,p1_yz_ho,p1_yz_ve,p2_xz_ho,p2_xz_ve,p2_yz_ho,p2_yz_ve
0,0.001466,0.003326,0.000536,0.002396,-0.000394,0.002396,0.000226,0.002396
1,0.001466,0.009836,-0.000394,0.002396,0.000536,0.002706,0.000846,0.002706
2,0.003946,0.009526,-0.000394,-0.001014,0.000226,0.000846,-0.000704,0.000846
3,0.004566,0.007666,-0.001634,0.001776,-0.000394,0.000226,-0.000704,0.001466
4,0.005186,0.008906,0.004256,0.006426,0.000226,0.001776,0.000226,0.002086
...,...,...,...,...,...,...,...,...
139395,0.000846,0.000846,0.001466,0.002086,-0.000394,0.000536,-0.000394,-0.001324
139396,-0.000704,0.003636,0.000536,0.002706,-0.000394,0.001466,-0.000704,0.003326
139397,-0.000084,0.003016,-0.000084,-0.000084,-0.000084,0.002706,-0.000084,0.003946
139398,0.000846,0.000536,0.001156,0.002706,-0.000084,0.001156,0.000226,0.004876
139399,-0.000704,0.000846,0.002396,0.004256,-0.000084,0.000226,-0.000704,0.005186

PKL file

In [26]:
output_path = 'train/train.pkl'

test_pkl = pd.read_pickle(output_path)
test_pkl

,p1_xz_ho,p1_xz_ve,p1_yz_ho,p1_yz_ve,p2_xz_ho,p2_xz_ve,p2_yz_ho,p2_yz_ve
0,0.001466,0.003326,0.000536,0.002396,-0.000394,0.002396,0.000226,0.002396
1,0.001466,0.009836,-0.000394,0.002396,0.000536,0.002706,0.000846,0.002706
2,0.003946,0.009526,-0.000394,-0.001014,0.000226,0.000846,-0.000704,0.000846
3,0.004566,0.007666,-0.001634,0.001776,-0.000394,0.000226,-0.000704,0.001466
4,0.005186,0.008906,0.004256,0.006426,0.000226,0.001776,0.000226,0.002086
...,...,...,...,...,...,...,...,...
139395,0.000846,0.000846,0.001466,0.002086,-0.000394,0.000536,-0.000394,-0.001324
139396,-0.000704,0.003636,0.000536,0.002706,-0.000394,0.001466,-0.000704,0.003326
139397,-0.000084,0.003016,-0.000084,-0.000084,-0.000084,0.002706,-0.000084,0.003946
139398,0.000846,0.000536,0.001156,0.002706,-0.000084,0.001156,0.000226,0.004876
139399,-0.000704,0.000846,0.002396,0.004256,-0.000084,0.000226,-0.000704,0.005186

MAT file

In [27]:
output_path = 'train/train.mat'

test_mat = scipy.io.loadmat(output_path)
test_mat

{'__header__': b'MATLAB 5.0 MAT-file Platform: posix, Created on: Wed Jul 17 07:27:50 2024',
 '__version__': '1.0',
 '__globals__': [],
 'p1_xz_ho': array([[ 1.46597096e-03,  1.46597096e-03,  3.94585510e-03, ...,
         -8.39566294e-05,  8.45999922e-04, -7.03927663e-04]]),
 'p1_xz_ve': array([[0.00332588, 0.00983558, 0.00952559, ..., 0.0030159 , 0.00053601,
         0.000846  ]]),
 'p1_yz_ho': array([[ 5.36014405e-04, -3.93942146e-04, -3.93942146e-04, ...,
         -8.39566294e-05,  1.15598544e-03,  2.39592751e-03]]),
 'p1_yz_ve': array([[ 2.39592751e-03,  2.39592751e-03, -1.01391318e-03, ...,
         -8.39566294e-05,  2.70591303e-03,  4.25584062e-03]]),
 'p2_xz_ho': array([[-3.93942146e-04,  5.36014405e-04,  2.26028888e-04, ...,
         -8.39566294e-05, -8.39566294e-05, -8.39566294e-05]]),
 'p2_xz_ve': array([[0.00239593, 0.00270591, 0.000846  , ..., 0.00270591, 0.00115599,
         0.00022603]]),
 'p2_yz_ho': array([[ 2.26028888e-04,  8.45999922e-04, -7.03927663e-04, ...,
         -8.39566294e-05,  2.26028888e-04, -7.03927663e-04]]),
 'p2_yz_ve': array([[0.00239593, 0.00270591, 0.000846  , ..., 0.00394586, 0.00487581,
         0.0051858 ]])}