In [1]:
pwd

'/usad/data/MACHINE'

In [2]:
import pandas as pd

---

<b>train

In [3]:
train = pd.read_csv('11_lcahu_feature_train.csv', header=0, low_memory=False)

In [4]:
train.head()

,AbsMax,AbsMean,P2P,RMS,Skewness,Kurtosis,Crest,Shape,Impulse,1x,2x,3x,4x,1xB,2xB,3xB,4xB
0,0.032784,0.008439,0.065385,0.010346,-0.032494,2.594446,6.319829,1.225912,3.884659,0.001223,0.004917,0.000170,0.000612,0.000528,0.000905,0.000097,0.000100
1,0.035506,0.008467,0.067576,0.010383,-0.052837,2.592175,6.508577,1.226262,4.193499,0.001120,0.004782,0.000160,0.000585,0.000456,0.001041,0.000429,0.000183
2,0.033555,0.008448,0.066331,0.010378,-0.031248,2.607045,6.391726,1.228454,3.972077,0.001135,0.005024,0.000131,0.000635,0.000533,0.000645,0.000480,0.000217
3,0.034627,0.008411,0.067867,0.010380,-0.025178,2.695010,6.538254,1.234043,4.116675,0.001156,0.005164,0.000135,0.000742,0.000239,0.000771,0.000086,0.000064
4,0.037129,0.008490,0.073338,0.010449,-0.078214,2.670323,7.018543,1.230717,4.373021,0.001296,0.005276,0.000182,0.000711,0.000303,0.000326,0.000549,0.000145

In [5]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()

x = train.values
x_scaled = min_max_scaler.fit_transform(x)
norm_train = pd.DataFrame(x_scaled)

In [6]:
norm_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.034639,0.051617,0.040642,0.028304,0.658952,0.075088,0.134924,0.230606,0.100671,0.204570,0.904965,0.150432,0.381143,0.376600,0.592656,0.091237,0.195310
1,0.071335,0.059779,0.058259,0.039072,0.597242,0.074779,0.155726,0.231947,0.137514,0.140201,0.880017,0.138402,0.363437,0.313535,0.686520,0.546961,0.413333
2,0.045031,0.054083,0.048248,0.037598,0.662732,0.076803,0.142848,0.240343,0.111099,0.149553,0.924920,0.102922,0.396421,0.380677,0.412393,0.617861,0.502725
3,0.059481,0.043289,0.060594,0.038282,0.681145,0.088780,0.158997,0.261751,0.128349,0.162332,0.950785,0.107856,0.466004,0.124228,0.499338,0.075722,0.100869
4,0.093211,0.066740,0.104577,0.058618,0.520257,0.085419,0.211931,0.249010,0.158929,0.249829,0.971706,0.165699,0.446059,0.179587,0.191027,0.711977,0.313006

In [7]:
norm_train.to_csv('train.csv', index=False)

---

<b> test

In [8]:
test = pd.read_csv('11_lcahu_feature_test.csv', header=0, low_memory=False)

In [9]:
test.head()

,AbsMax,AbsMean,P2P,RMS,Skewness,Kurtosis,Crest,Shape,Impulse,1x,2x,3x,4x,1xB,2xB,3xB,4xB,attack
0,0.034962,0.008369,0.067668,0.010293,-0.061745,2.624110,6.573841,1.229892,4.177376,0.001261,0.004490,0.000145,0.000799,0.000791,0.001024,0.000061,0.000067,0
1,0.036167,0.008339,0.068778,0.010345,-0.020651,2.747986,6.648573,1.240590,4.337322,0.001191,0.004425,0.000130,0.000786,0.000902,0.001267,0.000122,0.000106,0
2,0.034177,0.008414,0.068018,0.010348,-0.022162,2.633901,6.573161,1.229799,4.061787,0.001307,0.004778,0.000138,0.000765,0.000397,0.000984,0.000078,0.000069,0
3,0.034092,0.008417,0.065647,0.010334,-0.076633,2.625344,6.352463,1.227779,4.050377,0.001307,0.004606,0.000205,0.000702,0.000270,0.000395,0.000237,0.000085,0
4,0.032965,0.008391,0.065716,0.010301,-0.023880,2.627961,6.379546,1.227627,3.928618,0.001327,0.004572,0.000119,0.000630,0.000386,0.000267,0.000433,0.000195,0

In [10]:
labels = pd.DataFrame(test["attack"])
test = test.drop(columns='attack')

In [11]:
test.head()

,AbsMax,AbsMean,P2P,RMS,Skewness,Kurtosis,Crest,Shape,Impulse,1x,2x,3x,4x,1xB,2xB,3xB,4xB
0,0.034962,0.008369,0.067668,0.010293,-0.061745,2.624110,6.573841,1.229892,4.177376,0.001261,0.004490,0.000145,0.000799,0.000791,0.001024,0.000061,0.000067
1,0.036167,0.008339,0.068778,0.010345,-0.020651,2.747986,6.648573,1.240590,4.337322,0.001191,0.004425,0.000130,0.000786,0.000902,0.001267,0.000122,0.000106
2,0.034177,0.008414,0.068018,0.010348,-0.022162,2.633901,6.573161,1.229799,4.061787,0.001307,0.004778,0.000138,0.000765,0.000397,0.000984,0.000078,0.000069
3,0.034092,0.008417,0.065647,0.010334,-0.076633,2.625344,6.352463,1.227779,4.050377,0.001307,0.004606,0.000205,0.000702,0.000270,0.000395,0.000237,0.000085
4,0.032965,0.008391,0.065716,0.010301,-0.023880,2.627961,6.379546,1.227627,3.928618,0.001327,0.004572,0.000119,0.000630,0.000386,0.000267,0.000433,0.000195

In [12]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()

x = test.values
x_scaled = min_max_scaler.fit_transform(x)
norm_test = pd.DataFrame(x_scaled)

In [13]:
norm_test.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.068485,0.104086,0.059060,0.110888,0.286062,0.074889,0.141456,0.249092,0.128283,0.030904,0.377078,0.084312,0.497770,0.043670,0.455538,0.038638,0.065753
1,0.082603,0.098819,0.065938,0.118125,0.484924,0.101816,0.149948,0.320495,0.152694,0.027148,0.371498,0.070971,0.488673,0.050662,0.577445,0.124947,0.151940
2,0.059286,0.111750,0.061233,0.118567,0.477614,0.077017,0.141379,0.248469,0.110641,0.033396,0.401993,0.077902,0.473683,0.018896,0.435253,0.062083,0.069552
3,0.058287,0.112202,0.046543,0.116628,0.214013,0.075157,0.116301,0.234990,0.108899,0.033383,0.387148,0.138905,0.428390,0.010898,0.139398,0.288818,0.104726
4,0.045087,0.107779,0.046970,0.111960,0.469298,0.075726,0.119378,0.233974,0.090316,0.034487,0.384183,0.060992,0.376009,0.018202,0.075154,0.568690,0.345830

In [14]:
norm_test.to_csv('test.csv', index=False)

In [15]:
labels.to_csv('labels.csv', index=False)

---

In [17]:
df = pd.read_csv('train.csv', header=0, low_memory=False)

In [18]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.034639,0.051617,0.040642,0.028304,0.658952,0.075088,0.134924,0.230606,0.100671,0.204570,0.904965,0.150432,0.381143,0.376600,0.592656,0.091237,0.195310
1,0.071335,0.059779,0.058259,0.039072,0.597242,0.074779,0.155726,0.231947,0.137514,0.140201,0.880017,0.138402,0.363437,0.313535,0.686520,0.546961,0.413333
2,0.045031,0.054083,0.048248,0.037598,0.662732,0.076803,0.142848,0.240343,0.111099,0.149553,0.924920,0.102922,0.396421,0.380677,0.412393,0.617861,0.502725
3,0.059481,0.043289,0.060594,0.038282,0.681145,0.088780,0.158997,0.261751,0.128349,0.162332,0.950785,0.107856,0.466004,0.124228,0.499338,0.075722,0.100869
4,0.093211,0.066740,0.104577,0.058618,0.520257,0.085419,0.211931,0.249010,0.158929,0.249829,0.971706,0.165699,0.446059,0.179587,0.191027,0.711977,0.313006

In [21]:
labels = pd.read_csv('labels.csv', header=0, low_memory=False)

In [22]:
labels

      attack
0          0
1          0
2          0
3          0
4          0
...      ...
6182       1
6183       1
6184       1
6185       1
6186       1

[6187 rows x 1 columns]