In [74]:
import os
import glob
import pickle
import numpy as np
import matplotlib.pylab as plt
import scipy.io
import pandas as pd

In [75]:
pwd

'/deepant/data/PRESTO'

---

In [30]:
def mat_xz_yz(path):
    files = glob.glob(path + "/*.mat")
    files.sort()

    xz_mats = []
    yz_mats = []
    for file in files:
        if file.find("XZ") != -1:
            mat = scipy.io.loadmat(file)
            xz_mats.append(mat)

        elif file.find("YZ") != -1:
            print(file)
            mat = scipy.io.loadmat(file)
            yz_mats.append(mat)

    return xz_mats, yz_mats

In [31]:
def add_data_to_dataframe(p1_xz, p1_yz, p2_xz, p2_yz, df):
    new_data = {
        'p1_xz_ho': p1_xz['yDataCurrentAxes1_tim'].flatten(),
        'p1_xz_ve': p1_xz['yDataCurrentAxes2_tim'].flatten(),
        'p1_yz_ho': p1_yz['yDataCurrentAxes1_tim'].flatten(),
        'p1_yz_ve': p1_yz['yDataCurrentAxes2_tim'].flatten(),
        'p2_xz_ho': p2_xz['yDataCurrentAxes1_tim'].flatten(),
        'p2_xz_ve': p2_xz['yDataCurrentAxes2_tim'].flatten(),
        'p2_yz_ho': p2_yz['yDataCurrentAxes1_tim'].flatten(),
        'p2_yz_ve': p2_yz['yDataCurrentAxes2_tim'].flatten()
    }
    new_df = pd.DataFrame(new_data)
    df = pd.concat([df, new_df], ignore_index=True)
    return df

---

In [32]:
point1_path = "P1"
point2_path = "P2"

In [33]:
point1_xz_mats, point1_yz_mats = mat_xz_yz(point1_path)
point2_xz_mats, point2_yz_mats = mat_xz_yz(point2_path)

P1/[1][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P1/[2][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P1/[3][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P1/[4][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P1/[5][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P1/[6][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P1/[7][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P1/[8][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P2/[1][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat
P2/[2][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat
P2/[3][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat
P2/[4][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat
P2/[5][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat
P2/[6][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat
P2/[7][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat
P2/[8][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat

<b>DataFrame

In [34]:
df = pd.DataFrame(columns=['p1_xz_ho', 'p1_xz_ve', 'p1_yz_ho', 'p1_yz_ve',
                           'p2_xz_ho', 'p2_xz_ve', 'p2_yz_ho', 'p2_yz_ve'])

In [35]:
for idx in range(len(point1_xz_mats)):
    p1_xz, p1_yz, p2_xz, p2_yz = point1_xz_mats[idx], point1_yz_mats[idx], point2_xz_mats[idx], point2_yz_mats[idx]
    df = add_data_to_dataframe(p1_xz, p1_yz, p2_xz, p2_yz, df)

/tmp/ipykernel_352/4021337398.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_df], ignore_index=True)

In [36]:
df.shape

(557600, 8)

In [37]:
df.head()

,p1_xz_ho,p1_xz_ve,p1_yz_ho,p1_yz_ve,p2_xz_ho,p2_xz_ve,p2_yz_ho,p2_yz_ve
0,0.001466,0.003326,0.000536,0.002396,-0.000394,0.002396,0.000226,0.002396
1,0.001466,0.009836,-0.000394,0.002396,0.000536,0.002706,0.000846,0.002706
2,0.003946,0.009526,-0.000394,-0.001014,0.000226,0.000846,-0.000704,0.000846
3,0.004566,0.007666,-0.001634,0.001776,-0.000394,0.000226,-0.000704,0.001466
4,0.005186,0.008906,0.004256,0.006426,0.000226,0.001776,0.000226,0.002086

<b> Save

CSV file

In [38]:
output_path = 'train.csv'
df.to_csv(output_path, index=False)

PKL file

In [42]:
output_path = 'train/train.pkl'
df.to_pickle(output_path)

MAT file

In [43]:
output_path = 'train/train.mat'
scipy.io.savemat(output_path, {
        'p1_xz_ho': p1_xz['yDataCurrentAxes1_tim'].flatten(),
        'p1_xz_ve': p1_xz['yDataCurrentAxes2_tim'].flatten(),
        'p1_yz_ho': p1_yz['yDataCurrentAxes1_tim'].flatten(),
        'p1_yz_ve': p1_yz['yDataCurrentAxes2_tim'].flatten(),
        'p2_xz_ho': p2_xz['yDataCurrentAxes1_tim'].flatten(),
        'p2_xz_ve': p2_xz['yDataCurrentAxes2_tim'].flatten(),
        'p2_yz_ho': p2_yz['yDataCurrentAxes1_tim'].flatten(),
        'p2_yz_ve': p2_yz['yDataCurrentAxes2_tim'].flatten()
    })

---

<b>TEST

CSV file

In [25]:
output_path = 'train/train.csv'

test_csv = pd.read_csv(output_path)
test_csv

,p1_xz_ho,p1_xz_ve,p1_yz_ho,p1_yz_ve,p2_xz_ho,p2_xz_ve,p2_yz_ho,p2_yz_ve
0,0.001466,0.003326,0.000536,0.002396,-0.000394,0.002396,0.000226,0.002396
1,0.001466,0.009836,-0.000394,0.002396,0.000536,0.002706,0.000846,0.002706
2,0.003946,0.009526,-0.000394,-0.001014,0.000226,0.000846,-0.000704,0.000846
3,0.004566,0.007666,-0.001634,0.001776,-0.000394,0.000226,-0.000704,0.001466
4,0.005186,0.008906,0.004256,0.006426,0.000226,0.001776,0.000226,0.002086
...,...,...,...,...,...,...,...,...
139395,0.000846,0.000846,0.001466,0.002086,-0.000394,0.000536,-0.000394,-0.001324
139396,-0.000704,0.003636,0.000536,0.002706,-0.000394,0.001466,-0.000704,0.003326
139397,-0.000084,0.003016,-0.000084,-0.000084,-0.000084,0.002706,-0.000084,0.003946
139398,0.000846,0.000536,0.001156,0.002706,-0.000084,0.001156,0.000226,0.004876
139399,-0.000704,0.000846,0.002396,0.004256,-0.000084,0.000226,-0.000704,0.005186

PKL file

In [26]:
output_path = 'train/train.pkl'

test_pkl = pd.read_pickle(output_path)
test_pkl

,p1_xz_ho,p1_xz_ve,p1_yz_ho,p1_yz_ve,p2_xz_ho,p2_xz_ve,p2_yz_ho,p2_yz_ve
0,0.001466,0.003326,0.000536,0.002396,-0.000394,0.002396,0.000226,0.002396
1,0.001466,0.009836,-0.000394,0.002396,0.000536,0.002706,0.000846,0.002706
2,0.003946,0.009526,-0.000394,-0.001014,0.000226,0.000846,-0.000704,0.000846
3,0.004566,0.007666,-0.001634,0.001776,-0.000394,0.000226,-0.000704,0.001466
4,0.005186,0.008906,0.004256,0.006426,0.000226,0.001776,0.000226,0.002086
...,...,...,...,...,...,...,...,...
139395,0.000846,0.000846,0.001466,0.002086,-0.000394,0.000536,-0.000394,-0.001324
139396,-0.000704,0.003636,0.000536,0.002706,-0.000394,0.001466,-0.000704,0.003326
139397,-0.000084,0.003016,-0.000084,-0.000084,-0.000084,0.002706,-0.000084,0.003946
139398,0.000846,0.000536,0.001156,0.002706,-0.000084,0.001156,0.000226,0.004876
139399,-0.000704,0.000846,0.002396,0.004256,-0.000084,0.000226,-0.000704,0.005186

MAT file

In [27]:
output_path = 'train/train.mat'

test_mat = scipy.io.loadmat(output_path)
test_mat

{'__header__': b'MATLAB 5.0 MAT-file Platform: posix, Created on: Wed Jul 17 07:27:50 2024',
 '__version__': '1.0',
 '__globals__': [],
 'p1_xz_ho': array([[ 1.46597096e-03,  1.46597096e-03,  3.94585510e-03, ...,
         -8.39566294e-05,  8.45999922e-04, -7.03927663e-04]]),
 'p1_xz_ve': array([[0.00332588, 0.00983558, 0.00952559, ..., 0.0030159 , 0.00053601,
         0.000846  ]]),
 'p1_yz_ho': array([[ 5.36014405e-04, -3.93942146e-04, -3.93942146e-04, ...,
         -8.39566294e-05,  1.15598544e-03,  2.39592751e-03]]),
 'p1_yz_ve': array([[ 2.39592751e-03,  2.39592751e-03, -1.01391318e-03, ...,
         -8.39566294e-05,  2.70591303e-03,  4.25584062e-03]]),
 'p2_xz_ho': array([[-3.93942146e-04,  5.36014405e-04,  2.26028888e-04, ...,
         -8.39566294e-05, -8.39566294e-05, -8.39566294e-05]]),
 'p2_xz_ve': array([[0.00239593, 0.00270591, 0.000846  , ..., 0.00270591, 0.00115599,
         0.00022603]]),
 'p2_yz_ho': array([[ 2.26028888e-04,  8.45999922e-04, -7.03927663e-04, ...,
         -8.39566294e-05,  2.26028888e-04, -7.03927663e-04]]),
 'p2_yz_ve': array([[0.00239593, 0.00270591, 0.000846  , ..., 0.00394586, 0.00487581,
         0.0051858 ]])}

---

In [41]:
file = 'test_anomaly.mat'
test_mat = scipy.io.loadmat(file)

In [58]:
test_mat

{'__header__': b'MATLAB 5.0 MAT-file Platform: posix, Created on: Thu Jun 27 14:00:10 2024',
 '__version__': '1.0',
 '__globals__': [],
 'data_with_anomalies': array([[-3.93942146e-04,  8.45999922e-04,  2.26028888e-04, ...,
         -8.39566294e-05,  5.80576821e-03,  9.83557996e-03],
        [-1.01391318e-03,  1.15598544e-03, -8.39566294e-05, ...,
          8.45999922e-04,  6.73572477e-03,  8.28565236e-03],
        [-1.01391318e-03,  2.08594199e-03, -3.93942146e-04, ...,
          2.39592751e-03,  6.42573925e-03,  9.21560892e-03],
        ...,
        [ 1.46597096e-03, -8.39566294e-05,  8.45999922e-04, ...,
          1.77595647e-03, -8.39566294e-05,  1.77595647e-03],
        [ 8.45999922e-04,  4.87581165e-03, -3.93942146e-04, ...,
         -8.39566294e-05,  8.45999922e-04, -3.93942146e-04],
        [ 2.26028888e-04,  3.32588406e-03, -1.63388421e-03, ...,
          2.08594199e-03,  8.45999922e-04,  3.63586958e-03]])}

In [61]:
test_df = pd.DataFrame(test_mat['data_with_anomalies'], columns=['p1_xz_ho', 'p1_xz_ve', 'p1_yz_ho', 'p1_yz_ve',
                                                                 'p2_xz_ho', 'p2_xz_ve', 'p2_yz_ho', 'p2_yz_ve'])

In [62]:
test_df.head()

,p1_xz_ho,p1_xz_ve,p1_yz_ho,p1_yz_ve,p2_xz_ho,p2_xz_ve,p2_yz_ho,p2_yz_ve
0,-0.000394,0.000846,0.000226,0.002706,0.000226,-0.000084,0.005806,0.009836
1,-0.001014,0.001156,-0.000084,0.002706,-0.001014,0.000846,0.006736,0.008286
2,-0.001014,0.002086,-0.000394,0.001776,-0.001944,0.002396,0.006426,0.009216
3,-0.000394,0.001466,-0.004114,0.005186,-0.001014,0.001776,0.004566,0.009216
4,0.000846,-0.000394,-0.004114,0.003016,0.000846,0.000846,0.006116,0.007046

In [63]:
file = 'test_anomaly_label.mat'
label_mat = scipy.io.loadmat(file)

In [64]:
label_mat

{'__header__': b'MATLAB 5.0 MAT-file Platform: posix, Created on: Thu Jun 27 14:14:57 2024',
 '__version__': '1.0',
 '__globals__': [],
 'point': array([[19810,     6],
        [ 5039,     0],
        [28096,     4],
        [54197,     5],
        [19929,     7]], dtype=int32),
 'contextual': array([[43050,     4],
        [43051,     4],
        [43052,     4],
        ...,
        [12758,     3],
        [12759,     3],
        [12760,     3]], dtype=int32)}

In [66]:
combined_anomalies = np.vstack((label_mat['point'], label_mat['contextual']))

In [69]:
test_df['attack'] = 0

In [70]:
for anomaly in combined_anomalies:
    position, feature = anomaly
    test_df.loc[position, 'attack'] = 1

In [72]:
test_df.head()

,p1_xz_ho,p1_xz_ve,p1_yz_ho,p1_yz_ve,p2_xz_ho,p2_xz_ve,p2_yz_ho,p2_yz_ve,attack
0,-0.000394,0.000846,0.000226,0.002706,0.000226,-0.000084,0.005806,0.009836,0
1,-0.001014,0.001156,-0.000084,0.002706,-0.001014,0.000846,0.006736,0.008286,0
2,-0.001014,0.002086,-0.000394,0.001776,-0.001944,0.002396,0.006426,0.009216,0
3,-0.000394,0.001466,-0.004114,0.005186,-0.001014,0.001776,0.004566,0.009216,0
4,0.000846,-0.000394,-0.004114,0.003016,0.000846,0.000846,0.006116,0.007046,0

In [73]:
test_df.to_csv('test.csv', index=False)