In [49]:
import os
import glob
import pickle
import numpy as np
import matplotlib.pylab as plt
import scipy.io
import pandas as pd

In [50]:
pwd

'/mtad-gat/data/SWAT/data'

In [51]:
cd /mtad-gat/data/PRESTO/

/mtad-gat/data/PRESTO

/opt/conda/lib/python3.10/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [52]:
pwd

'/mtad-gat/data/PRESTO'

---

In [3]:
def mat_xz_yz(path):
    files = glob.glob(path + "/*.mat")
    files.sort()

    xz_mats = []
    yz_mats = []
    for file in files:
        if file.find("XZ") != -1:
            mat = scipy.io.loadmat(file)
            xz_mats.append(mat)

        elif file.find("YZ") != -1:
            print(file)
            mat = scipy.io.loadmat(file)
            yz_mats.append(mat)

    return xz_mats, yz_mats

In [4]:
def add_data_to_dataframe(p1_xz, p1_yz, p2_xz, p2_yz, df):
    new_data = {
        'p1_xz_ho': p1_xz['yDataCurrentAxes1_tim'].flatten(),
        'p1_xz_ve': p1_xz['yDataCurrentAxes2_tim'].flatten(),
        'p1_yz_ho': p1_yz['yDataCurrentAxes1_tim'].flatten(),
        'p1_yz_ve': p1_yz['yDataCurrentAxes2_tim'].flatten(),
        'p2_xz_ho': p2_xz['yDataCurrentAxes1_tim'].flatten(),
        'p2_xz_ve': p2_xz['yDataCurrentAxes2_tim'].flatten(),
        'p2_yz_ho': p2_yz['yDataCurrentAxes1_tim'].flatten(),
        'p2_yz_ve': p2_yz['yDataCurrentAxes2_tim'].flatten()
    }
    new_df = pd.DataFrame(new_data)
    df = pd.concat([df, new_df], ignore_index=True)
    return df

---

In [5]:
point1_path = "P1"
point2_path = "P2"

In [6]:
point1_xz_mats, point1_yz_mats = mat_xz_yz(point1_path)
point2_xz_mats, point2_yz_mats = mat_xz_yz(point2_path)

P1/[1][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P1/[2][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P1/[3][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P1/[4][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P1/[5][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P1/[6][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P1/[7][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P1/[8][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4000Hz.mat
P2/[1][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat
P2/[2][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat
P2/[3][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat
P2/[4][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat
P2/[5][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat
P2/[6][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat
P2/[7][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat
P2/[8][YZ][Time-PSD][IOS On][Stage OFF]Normal_Measurement time 17sec_Sample rate 4100Hz.mat

<b>DataFrame

In [7]:
df = pd.DataFrame(columns=['p1_xz_ho', 'p1_xz_ve', 'p1_yz_ho', 'p1_yz_ve',
                           'p2_xz_ho', 'p2_xz_ve', 'p2_yz_ho', 'p2_yz_ve'])

In [8]:
for idx in range(len(point1_xz_mats)):
    p1_xz, p1_yz, p2_xz, p2_yz = point1_xz_mats[idx], point1_yz_mats[idx], point2_xz_mats[idx], point2_yz_mats[idx]
    df = add_data_to_dataframe(p1_xz, p1_yz, p2_xz, p2_yz, df)

/tmp/ipykernel_313/4021337398.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_df], ignore_index=True)

In [9]:
df.shape

(557600, 8)

In [10]:
df.head()

,p1_xz_ho,p1_xz_ve,p1_yz_ho,p1_yz_ve,p2_xz_ho,p2_xz_ve,p2_yz_ho,p2_yz_ve
0,0.001466,0.003326,0.000536,0.002396,-0.000394,0.002396,0.000226,0.002396
1,0.001466,0.009836,-0.000394,0.002396,0.000536,0.002706,0.000846,0.002706
2,0.003946,0.009526,-0.000394,-0.001014,0.000226,0.000846,-0.000704,0.000846
3,0.004566,0.007666,-0.001634,0.001776,-0.000394,0.000226,-0.000704,0.001466
4,0.005186,0.008906,0.004256,0.006426,0.000226,0.001776,0.000226,0.002086

In [12]:
type(df['p1_xz_ho'][0])

numpy.float64

<b> Save

CSV file

In [8]:
s = 'csv'

In [9]:
s == 'csv'

True

In [47]:
output_path = 'train/train.csv'
df.to_csv(output_path, index=False)

PKL file

In [11]:
output_path = 'data/train.pkl'
df.to_pickle(output_path)

MAT file

In [43]:
output_path = 'train/train.mat'
scipy.io.savemat(output_path, {
        'p1_xz_ho': p1_xz['yDataCurrentAxes1_tim'].flatten(),
        'p1_xz_ve': p1_xz['yDataCurrentAxes2_tim'].flatten(),
        'p1_yz_ho': p1_yz['yDataCurrentAxes1_tim'].flatten(),
        'p1_yz_ve': p1_yz['yDataCurrentAxes2_tim'].flatten(),
        'p2_xz_ho': p2_xz['yDataCurrentAxes1_tim'].flatten(),
        'p2_xz_ve': p2_xz['yDataCurrentAxes2_tim'].flatten(),
        'p2_yz_ho': p2_yz['yDataCurrentAxes1_tim'].flatten(),
        'p2_yz_ve': p2_yz['yDataCurrentAxes2_tim'].flatten()
    })

---

<b>TEST

In [53]:
file = 'test_anomaly.mat'
test_mat = scipy.io.loadmat(file)

In [54]:
test_mat

{'__header__': b'MATLAB 5.0 MAT-file Platform: posix, Created on: Thu Jun 27 14:00:10 2024',
 '__version__': '1.0',
 '__globals__': [],
 'data_with_anomalies': array([[-3.93942146e-04,  8.45999922e-04,  2.26028888e-04, ...,
         -8.39566294e-05,  5.80576821e-03,  9.83557996e-03],
        [-1.01391318e-03,  1.15598544e-03, -8.39566294e-05, ...,
          8.45999922e-04,  6.73572477e-03,  8.28565236e-03],
        [-1.01391318e-03,  2.08594199e-03, -3.93942146e-04, ...,
          2.39592751e-03,  6.42573925e-03,  9.21560892e-03],
        ...,
        [ 1.46597096e-03, -8.39566294e-05,  8.45999922e-04, ...,
          1.77595647e-03, -8.39566294e-05,  1.77595647e-03],
        [ 8.45999922e-04,  4.87581165e-03, -3.93942146e-04, ...,
         -8.39566294e-05,  8.45999922e-04, -3.93942146e-04],
        [ 2.26028888e-04,  3.32588406e-03, -1.63388421e-03, ...,
          2.08594199e-03,  8.45999922e-04,  3.63586958e-03]])}

In [55]:
test_df = pd.DataFrame(test_mat['data_with_anomalies'], columns=['p1_xz_ho', 'p1_xz_ve', 'p1_yz_ho', 'p1_yz_ve',
                                                                 'p2_xz_ho', 'p2_xz_ve', 'p2_yz_ho', 'p2_yz_ve'])

In [57]:
test_df.head()

,p1_xz_ho,p1_xz_ve,p1_yz_ho,p1_yz_ve,p2_xz_ho,p2_xz_ve,p2_yz_ho,p2_yz_ve
0,-0.000394,0.000846,0.000226,0.002706,0.000226,-0.000084,0.005806,0.009836
1,-0.001014,0.001156,-0.000084,0.002706,-0.001014,0.000846,0.006736,0.008286
2,-0.001014,0.002086,-0.000394,0.001776,-0.001944,0.002396,0.006426,0.009216
3,-0.000394,0.001466,-0.004114,0.005186,-0.001014,0.001776,0.004566,0.009216
4,0.000846,-0.000394,-0.004114,0.003016,0.000846,0.000846,0.006116,0.007046

In [59]:
file = 'test_anomaly_label.mat'
label_mat = scipy.io.loadmat(file)

In [60]:
label_mat

{'__header__': b'MATLAB 5.0 MAT-file Platform: posix, Created on: Thu Jun 27 14:14:57 2024',
 '__version__': '1.0',
 '__globals__': [],
 'point': array([[19810,     6],
        [ 5039,     0],
        [28096,     4],
        [54197,     5],
        [19929,     7]], dtype=int32),
 'contextual': array([[43050,     4],
        [43051,     4],
        [43052,     4],
        ...,
        [12758,     3],
        [12759,     3],
        [12760,     3]], dtype=int32)}

In [61]:
combined_anomalies = np.vstack((label_mat['point'], label_mat['contextual']))

In [69]:
zero_list = np.zeros(len(test_df), dtype=int)

In [71]:
label_df = pd.DataFrame(zero_list, columns=['attack'])

In [72]:
for anomaly in combined_anomalies:
    position, feature = anomaly
    label_df.loc[position, 'attack'] = 1

In [75]:
label_df.head()

   attack
0       0
1       0
2       0
3       0
4       0

In [76]:
test_opath = 'data/test.pkl'
test_df.to_pickle(test_opath)

In [78]:
label_opath = 'data/test_labels.pkl'
label_df.to_pickle(label_opath)